
/* HOME =================== */
#home {
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}

#home img.bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    aspect-ratio: 9/16;
    object-fit: cover;

    filter: brightness(.2);
}

#home .content {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home .content .text img {
    width: 15rem;
    margin-bottom: 1rem;
}

#home .content .text {
    height: 100%;
    margin-top: -15rem;
}

#home .content h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 3rem;
}

#home .content h1 span {
    font-weight: 600;
    color: #fff;

    background: linear-gradient(40deg, #ebfae0 40%, #1DCA1D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home .content p {
    font-size: 1.6rem;
    color: #ffffffcc;
    font-weight: 300;

    margin-bottom: 2rem;
}

#home .content p span {
    font-weight: 500;
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-100%);
    }
  }
  
  #home .slide {
    overflow: hidden;
    padding: 2rem 0;
    display: flex;
    white-space: nowrap;

    position: absolute;
    left: 0;
    top: 36%;
  }
  
  #home .slide:before,
  #home .slide:after {
    content: '';
    position: absolute;
    top: 0;
    width: 25rem;
    height: 100%;
    z-index: 2;
  }

#home .slide:before {
    left: -10rem;
    background: linear-gradient(to right, #017fc9, transparent);
  }
  
  #home .slide:after {
    right: 0;
    background: linear-gradient(to right, #017fc9, transparent);
  }
  
  #home .slide:hover .slide-text {
    animation-play-state: paused;
  }
  
  #home .slide-text {
    animation: slide 40s infinite linear;
    display: flex;
  }
  
  #home .slide-text p {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin: 0 .5rem;
    background: var(--color-white);
    color: var(--secondary-color);
    position: relative;
  }
  
  #home .slide-text p:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--color-text);
    top: 40%;
    right: -2.1rem;
}

#home .text a button {
    margin-top: 3rem;

    width: 100%;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 1rem;
    background: linear-gradient(to right, #177b17, #00ff00);
    animation: gradient 3s ease infinite;
    background-size: 200% 200%;
    color: #fff;
    font-weight: 500;

    transition: all 200ms ease-in-out;
}

#home .text a button:hover {
    cursor: pointer;
    filter: brightness(1.1);
    box-shadow: 0 0 30px #16d3165b;
}

#home .content .image {
    display: flex;
    justify-content: center;
}

#home .content .image img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 50%;
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 100%);
    width: 100%;
    height: 100%;
}

#home .image .cards {
    display: none;
}

#home .image .iconeApp {
    display: none;
}


@media (min-width: 1080px) {  
    header#home {
        min-height: 100vh;
        padding-block: initial;
    }

    header#home .text {
        padding-inline: 17%;
    }

    header#home img.bg {
        aspect-ratio: 16/9;
        filter: brightness(.2) blur(1px);
        object-fit: cover;
        height: 100%;
    }
 
    header#home .content {
        min-height: 100vh;
        display: grid;
        align-items: center;
        justify-content: center;
        overflow: initial;
    }

    header#home .content .text {
        margin-top: initial;
        text-align: center;

        margin-top: 10rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    header#home .content .slide {
        display: none;
    }

    header#home .content .text h1 {
        font-size: 3rem;
        width: 70%;
        margin-bottom: 3rem;
    }

    header#home .content .text a button {
        margin-top: 3rem;
        font-size: 2.5rem;
        padding: 1.5rem 4rem;
    }

    header#home .content .image {
        justify-content: center;
        position: relative;
        height: 100%;
    }

    header#home .wrapper .content .image img.principal {
        width: 35%;
        top: initial;
        bottom: -30rem;

        animation: moveMockup infinite ease-in-out 5s;
    }

    @keyframes moveMockup {
        50% {
            transform: translate(-50%, -15px);
        }
    }

    header#home .image .cards {
        display: inherit;
    }

    header#home .image .cards p {
        color: #fff;
        font-weight: 500;
        padding: 1.5rem 4rem;
        border-radius: 1.5rem;
        font-size: 2rem;
    }

    header#home .content .image .iconeApp {
        display: inherit;
        position: absolute;
        width: 4rem;
        mask-image: none;
    }

    header#home .image .iconeApp.um {
       left: 74%;
       top: 5%;
    }

    header#home .image .iconeApp.dois {
        left: 25.5%;
        top: 23%;
    }

    header#home .image .cards .box-card {
        display: flex;
        flex-direction: column;
        position: absolute;
    }

    header#home .image .cards .box-card.um {
        top: 3%;
        left: 71.5%;
        width: max-content;
    }

    header#home .image .cards .box-card.dois {
        top: 21.5%;
        left: -3.5%;
        width: max-content;
    }

    header#home .image .cards a {
        text-decoration: none;
    }

    header#home .image .cards .card {
        box-shadow:  12px 12px 23px #000a14,
             -12px -12px 23px #000a14;

        background: linear-gradient(to right, #177b17, #05ff05);
        animation: gradient 3s ease infinite;
        background-size: 200% 200%;

        transition: all 200ms ease-in-out;
    }

    header#home .image .cards .card:hover {
        cursor: pointer;
        filter: brightness(1.2);
        box-shadow: 0 0 30px #16d3165b;
    }
}

@media (min-width: 1700px) {
    header#home .content .text {
        padding-inline: 10%;
    }

    header#home .content .text h1 {
        font-size: 4.5rem;
        width: 100%;
        margin-bottom: 4rem;
    }

    header#home .content .text p {
        font-size: 2rem;
        margin-bottom: 4rem;
        color: #ffffffab;
    }

    header#home .content .text a button {
        margin-top: 4rem;
    }
}
   
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }