#porque {
    position: relative;
    overflow: hidden;
}

#porque header h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 4rem;
    font-weight: 600;
}

#porque header h2 span {
    font-weight: 600;
    color: #fff;

    background: linear-gradient(40deg, #ebfae0 10%, #1DCA1D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#porque .cards .card {
    padding: 2rem;
    border-radius: 0 2rem 2rem 0;

    background: linear-gradient(145deg, #000509, #000b18);
    box-shadow:  13px 13px 27px #000409,
                -13px -13px 27px #00060c;

    margin-bottom: 3rem;

    position: relative;
}

#porque .cards .card:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 4px;
    background: var(--gradient);
    top: 0;
    left: -4px;
}

#porque .cards .card img {
    width: 8rem;
    margin-left: -1.5rem;
}

#porque .cards .card p {
    color: #d3d8ef;
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 300;
}

#porque .cards .card p span {
    font-weight: 600;
}

#porque a button {
    margin-top: 2rem;
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 1rem;
    background: linear-gradient(to right, #177b17, #00ff00);
        animation: gradient 3s ease infinite;
        background-size: 200% 200%;
    color: #fff;
    font-weight: 500;

    transition: all 200ms ease-in-out;
}

#porque a button:hover {
    cursor: pointer;
    filter: brightness(1.1);
    box-shadow: 0 0 30px #16d3165b;
}

@media (min-width: 1080px) {
    section#porque .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section#porque header h2 {
        font-size: 3rem;
        margin-bottom: 7rem;
    }

    section#porque .cards .row-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
    }

    section#porque .cards .row-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    section#porque .cards .card::before {
        display: none;
    }

    section#porque .cards .card {
        margin-bottom: 3rem;
        text-align: center;
        border-radius: 2rem;
        background: linear-gradient(145deg, #01070f, #000e1e);
        box-shadow:  13px 13px 27px #000409,
                -13px -13px 27px #000b15;
    }

    section#porque .cards .card img {
        margin-bottom: 1rem;
    }

    section#porque a button {
        margin-top: 4rem;
        font-size: 2rem;
        padding: 1.2rem 4rem;
    }
}