#chamada {
    background: var(--gradient2);
    position: relative;
    overflow: hidden;
}

#chamada .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 5;
}

#chamada .wrapper img {
    width: 5rem;
    margin-bottom: 3rem;
}

#chamada .content header {
    border: 2px solid #1DCA1D;
    padding: 2rem;
    border-radius: 2rem;
}

#chamada h4 {
    color: #ffffffc4;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

#chamada h4 span {
    text-decoration: line-through;
    color: rgb(252, 121, 121);
}

#chamada h2 {
    font-size: 3rem;
    color: var(--color-black);
    font-weight: 400;

    margin-bottom: 3rem;
}

#chamada h2 span {
    font-weight: 600;
}

#chamada h3 {
    font-size: 4rem;
    color: #fff;
    background: linear-gradient(40deg, #016e03 10%, #1DCA1D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3rem;

}

#chamada h3 span {
   
    font-size: 2rem;
}

#chamada h3 span.dois {
    font-size: 3rem;
}

#chamada p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #ffffffa3;
    font-weight: 300;
}

#chamada a button {
    margin-top: 2rem;
    width: 100%;
    padding: 1rem 4rem;
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
    background: linear-gradient(to right, #177b17, #00f900);
        animation: gradient 3s ease infinite;
        background-size: 200% 200%;
    color: #fff;
    font-weight: 500;

    transition: all 200ms ease-in-out;
}

#chamada button:hover {
    cursor: pointer;
    filter: brightness(1.2);
    box-shadow: 0 0 30px #16d3165b;
}

#chamada img.imagem {
    display: none;
}

@media (min-width: 1080px) {
    section#chamada .wrapper img {
        width: 7rem;
        margin-bottom: 4rem;
    }

    section#chamada .content header {
        padding: 5rem;
    }

    section#chamada h2 {
        font-size: 3.5rem;
        margin-bottom: 4rem;
    }

    section#chamada h3 {
        font-size: 9rem;
    }

    section#chamada h3 span {
        font-size: 5rem;
    }

    section#chamada h3 span.dois {
        font-size: 5rem;
    }

    section#chamada a button {
        font-size: 2.5rem;
    }

    section#chamada img.imagem {
        display: inherit;

        aspect-ratio: 16/20;
        object-fit: cover;
        width: 30%;

        position: absolute;
        top: 0;
    }

    section#chamada img.imagem.um {
        mask-image: linear-gradient(to right, rgba(0, 0, 0, .3), transparent 100%);
        left: -10%;

    }

    section#chamada img.imagem.dois {
        mask-image: linear-gradient(to left, rgba(0, 0, 0, .3), transparent 100%);
        right: -10%;
    }
}